.archivo{
	width: 400px;
}
#intern_content .titulo_perfil_profesional {
    background-image: url("../img/titulo_perfil_profesional.png");
    height: 98px;
    width: 428px;
}
.uploader-container{
 float:left;

}
.enviar{
	margin-left:20px;
	float:left;
}
.hoja-de-vida {
	padding-top: 40px;
	width:750px;
	background: white;
}
.hoja-de-vida h1{
	color:black;
	margin-left:20px;
}
.form-error{
	margin-top:20px;
	color: red;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    width: 370px;
    display:none;
}
