.archivo{
	width: 350px;
}
#intern_content .titulo_perfil_profesional {
    background-image: url("../img/titulo_perfil_profesional.png");
    height: 98px;
    width: 428px;
}
.uploader-container{
 float:left;
 position: relative;
 width: 140px;

}
#subir-archivoQueue{
position: absolute;
}
.enviar{
	margin-left:20px;
	float:left;
}
.hoja-de-vida {
	padding-top: 40px;
	width:750px;
	background: white;
}
.hoja-de-vida h1{
	color:black;
	margin-left:20px;
}
.form-error{
	margin-top:20px;
	color: red;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    width: 370px;
    display:none;
}
.error em {
	display:block;
	width:0;
	height:0;
	border:10px solid;
	border-color:#FFFE36 transparent transparent;

	/* positioning */
	position:absolute;
	bottom:-17px;
	left:60px;
}
