/** General Style Info **/

body {
	background: url(../img/background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	font-family:"Gill Sans MT","Helvetica",sans-serif;
	color: #ffffff;
	width:100%;
	height:100%;
	font-size:12px;
	}

a:link, a:active, a:visited {
	color:#FFF;
	text-decoration: none;
	}
	
a img {
	font-family:"Gill Sans MT","Helvetica",sans-serif;
	border: none;
	}	
	
legend {
	display: none;
	}

span{
  
}
a {
	
}
a:hover {

}
a img {
	border:none;
}
h1, h2, h3, h4 {
	
}
h1 {
	font-size: 120%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 165%;
}
h4 {
	font-weight: normal;
}
ul, li {
	margin: 0px 0px;
}
.clear{
  clear:both;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}

/** Forms **/

/* ojo con este form para arreglar*/
/**
form {
  /*clear: both;
  color : #5B5B5B;
  padding: 16px 20px;  
} **/
/**
label {
display: block;
font-size: 90%;
padding-left: 1em;
padding-right: 0.5em;
}**/

input{

}
select {
 
  
}
/**
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}
**/

/** Project's Styles **/

/** Start Home **/
#content{
	min-height: 900px;
	
}
.color_home{
  color:#0DAACE;
}
#container{
width:100%;
height:100%;

}
/** Content **/

#content_wrap{
  background:url("../img/board_cont.png") no-repeat;
  width:991px;
  height:523px;
  margin-right:15.5px;
  
}

/*#content img {
	position:fixed;
	display: block;
	width: 410px;
	height: 363px;
	text-indent: -9999px;
	left:0;
	top:0;
}*/
img#logo {
	position:fixed;
	display: block;
	/*width: 410px;*/
	/*height: 363px;*/
	text-indent: -9999px;
	left:50%;
	top:50%;
	margin-left: -205px;
	margin-top: -326px;
	display:none;
}
/** Header **/

#header_wrap{
  height:162px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background:#fbfbfb;
  width: 950px;
 
}



#pages .login{
       display:none;
}

/** Header Form Login **/



.bottom{
	height:86px;
	background: url("../img/edificios.png") repeat-x;
	bottom:137px;
	position:fixed;
	width: 100%;
	display:none;
}

/** Footer Home **/

#footer {
	height:138px;
	background: url("../img/texturafooter.png") repeat-x;
	bottom:0;
	position:fixed;
	width: 100%;
}

#footer h1 {
	float: left;
	margin-left: 28px;
	margin-top: 25px;
	width: 379px;
	}

#footer h1 a {
	display: block;
	width: 379px;
	height: 92px;
	text-indent: -9999px;
	background: url("../img/nombre.png") no-repeat;
	}
	

	
#footer .main-nav{
	position:absolute;
	top:24px;
	right:105px;
	font-size:15px;
	
	}

#footer .main-nav li{
	
	}	

#footer .main-nav li a{
	background: url("../img/flecha_menu.png") right bottom no-repeat;
	padding-right: 31px;
	padding-top:25px;
	margin-left:26px;
	}	
  
#footer  .main-nav li {
    text-transform: uppercase;
    display: relative;
    
  }

#footer  .main-nav	li ul { 
	display: none; 
	top: -416px;
	left:0px;
	}

#footer  .main-nav	li ul li { 
	width:206px;
	}
	
#footer  .main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #B4F421;
  padding: 15px 15px 15px 15px;
  background: #183401;
  margin-left: 1px;
  opacity:0.8;
  line-height: 16px;
  font-size: 10px;
  font-weight: bold;
}

#footer  .main-nav ul li a p {
}
#footer  .main-nav li:hover ul {
  display: block;
  position: absolute;
}

#footer  .main-nav li:hover li {
  float: none;
}
#footer  .main-nav li:hover a {  }
#footer  .main-nav li:hover li a:hover { background: #063496; border-top: 1px solid #1676ff; }
  

	
/** End Home **/

/**  Start Pages   **/
  #content-wrap{
  } 

  #main-navigation{
    background:#AA0000;
    width:760px;
    height:71px;
    float:left;
  }
  
  #second-navigation{
    background:#3c3c3c;
    width:200px;
    float:left;
  }
  
 
  
/** End Pages **/

/** Intern Content **/

 #intern_content {
 	margin:30px;
 	
 	min-height:600px;
 }



#intern_content h1 {
	float: right;
	width: 64px;
	}

#intern_content  h1 a {
	display: block;
	width: 64px;
	height: 17px;
	text-indent: -9999px;
	background: url("../img/home.png") no-repeat;
	}
	


#intern_content .ambiental {
 	background-image:  url("../img/ambiental.png");
 	width: 364px;
 	height: 45px;
 }

#intern_content .mineria {
 	background-image:  url("../img/mineria.png");
 	width: 266px;
 	height: 56px;
 }

#intern_content .educativa {
 	background-image:  url("../img/educativa.png");
 	width: 359px;
 	height: 96px;
 }


#intern_content .content_type_1{
	margin-top:36px;
	background:rgba(255,255,255,0.6);
	width:770px;
}

#intern_content .content_type_2{
	margin-top:14px;
	background:rgba(255,255,255,0.6);
 	width:570px;
}


#intern_content .content_type_2 p {
 	font-size: 13px;
 	text-transform: uppercase;
 	line-height: 16px;
    text-shadow: 2px 2px 2px #000;
    width:550px;
    margin-left:10px;
    text-align: justify;
 }


#intern_content .content_type_1 p {
 	font-size: 13px;
 	text-transform: uppercase;
 	line-height: 16px;
    text-shadow: 2px 2px 2px #000;
    width:750px;
    margin-left:10px;
    text-align: justify;
 } 
/** End Intern Content **/ 

/** Intern Footer **/

#intern_footer{
background: url("../img/logo-interno.png") right no-repeat;
position:fixed;
width: 100%;
height:191px;
bottom:0;
}
.hoja-de-vida{
	position: relative;
	min-height: 300px;
}
.hoja-de-vida .mensaje{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	color:black;
	font-size: 16px;
	font-weight: bold;
}
#intern_content .hoja-de-vida .mensaje h1{
	line-height: 100%; 
	float:none;
	width: auto;
	text-align: center;
	margin-top: 50px;
}
.hoja-de-vida form{
	color: black;
}
.hoja-de-vida .submit{
	display:none;
}
.archivo, .inputs{
	float:left;
}
.inputs label{
 	display: block;
    float: left;
    width: 110px;
    margin-left: 10px;
}
.archivo{
}
.ext img{
	width: 60px;
	 height: 80px;
}
.archivo .ext{
 	height: 120px;
}
/** End Intern Footer **/
